@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap');

/* Global styles */
:root {
    --element-background-color: white;
    --page-background-color: #e5e5e5;
    --navbar-height: 70px;
    --default-spacing: 10px;
    --link-color: #3d54c8;
    --grey-text: #424242;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--page-background-color);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

h1,
h2 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
}

.profile-picture {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    max-width: 8em;
}

button {
    border: none;
    background-color: var(--element-background-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

button:hover {
    text-decoration: underline;
}

button.follow {
    background-color: var(--page-background-color);
    color: var(--link-color);
    font-size: 0.9em;
}

button.show-comments {
    font-size: 0.9em;
}

button.show-comments,
button.sign-out,
button.post-comment {
    color: var(--link-color);
}

button.sign-out {
    font-size: 1em;
}

button.icon {
    font-size: 1.2em;
}

button.emoji {
    padding: 0;
    margin-right: calc(var(--default-spacing) * 2);
}
/* End Global Styles */

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--element-background-color);
    height: var(--navbar-height);
}

#nav-logo a {
    font-weight: 600;
    color: black;
}

nav > * {
    padding: calc(var(--default-spacing) * 2);
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div > * {
    padding: var(--default-spacing);
}

nav div a {
    color: var(--link-color);
}
/* End Navbar */

/* Recommendations Panel */
#recommendations-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: var(--navbar-height);
    left: 65vw;
    max-width: 400px;
    margin: var(--default-spacing);
}

.current-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
}

.current-user > * {
    padding: var(--default-spacing);
}

.current-user h2 {
    font-size: 2em;
}

#suggestions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70vh;
}

#suggestions-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--grey-text);
    font-weight: bold;
    margin: var(--default-spacing);
}

#suggestion-card-container {
    overflow: scroll;
}

.suggestion-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.suggestion-card > img,
div {
    padding: var(--default-spacing);
}

.suggestion-card img {
    width: 4em;
}

.suggestion-card .username {
    font-weight: bold;
    margin-bottom: 5px;
}

.suggestion-card .subtext {
    margin-top: 0;
    color: var(--grey-text);
}
/* End Recommendations Panel */

/* Main Content Area */
main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60vw;
    margin-top: var(--navbar-height);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

/* Stories Panel */
#stories-panel {
    display: flex;
    align-items: center;
    margin-top: var(--default-spacing);
    width: 60vw;
    background-color: var(--element-background-color);
    overflow: hidden;
}

#stories-panel img {
    width: 100%;
    max-width: 4em;
}

.story-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--default-spacing);
    margin-top: var(--default-spacing);
    margin-left: var(--default-spacing);
    margin-right: var(--default-spacing);
    min-width: 80px;
}

.story-card > p {
    margin: var(--default-spacing);
}
/* End Stoires Panel */

/* Cards */
.posts-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--default-spacing);
    width: 60vw;
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--default-spacing);
}

.post {
    display: flex;
    flex-direction: column;
    background-color: var(--element-background-color);
    margin-top: var(--default-spacing);
    padding: 0;
}

.post header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post header > * {
    margin: calc(var(--default-spacing) * 2);
}

.post h1 {
    font-weight: 600;
}

.post img {
    width: 100%;
}

.interactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.interactions > * {
    margin-top: var(--default-spacing);
}

.interactions i {
    padding: var(--default-spacing);
}

.likes {
    font-weight: bold;
    padding-left: var(--default-spacing);
    margin: 0;
}

.likes p {
    margin: 0;
}

.caption {
    display: flex;
    align-items: baseline;
    margin: 0;
}

.caption > * {
    padding-left: var(--default-spacing);
    margin: 0;
}

.caption .username {
    font-weight: bold;
}

.caption a {
    color: var(--link-color);
    padding-left: var(--default-spacing);
    padding-right: var(--default-spacing);
}

.caption p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.comment-area {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.comment {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.comment p {
    padding-top: 5px;
    padding-left: var(--default-spacing);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment .username {
    font-weight: bold;
}

.comment-date {
    color: var(--grey-text);
    margin: 0;
    padding: var(--default-spacing);
    font-size: 0.9em;
}

.add-comment-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-comment-area > * {
    padding: var(--default-spacing);
}

.add-comment-area a {
    font-size: 1.1em;
    margin-right: var(--default-spacing);
}

.write-comment {
    display: flex;
    align-items: center;
    width: 100%;
}

.write-comment > * {
    padding: var(--default-spacing);
}

.comment-input {
    width: 100%;
}
/* End Cards */
/* End Main Content Area */

/* Media Queries */
@media screen and (max-width: 1000px) {
  #recommendations-panel {
    left: 60vw;
  }
}

@media screen and (max-width: 850px) {
    #recommendations-panel {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        align-items: center;
        width: 90vw;
        margin-top: calc(var(--navbar-height) - var(--default-spacing));
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }

    #stories-panel {
      width: 90vw;
    }
}
